---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Juan I. Condina | Resume" sideBarActiveItemID="cv">
	<section>
		<div class="mb-5">
			<div class="text-3xl w-full font-bold">Profile</div>
		</div>
		<div class="mb-10 text-justify">
			<p>Experienced full stack developer used to work with up to date web development technologies.</p>
			<p>
				My objective is to continue growing professionally by learning and upgrading skills as well as achieving
				personal goals.
			</p>
			<p>I enjoy team play as well as working on my own. Good at learning fast and communicating, even remotely.</p>
			<p>Used to work with agile development tools.</p>
			<p>Passionate about tech and building the future.</p>
			<p>Looking for a software development position that both challenges and fits my skills.</p>
		</div>
	</section>

	<section>
		<div class="mb-5">
			<div class="text-3xl w-full font-bold">Education</div>
		</div>
		<div class="time-line-container grid gap-4 mb-10">
			<TimeLineElement
				title="Information Systems Engineering"
				subtitle="2019 - Present at Universidad Tecnologica Nacional, Buenos Aires, Argentina"
			/>
			<TimeLineElement
				title="Electronics Engineering"
				subtitle="2013 to 2018 at Universidad Tecnologica Nacional, Buenos Aires, Argentina"
			>
				Made it to the 3rd year of the career. I decided to change to Information Systems Engineering.
			</TimeLineElement>
		</div>
	</section>

	<section>
		<div class="mb-5">
			<div class="text-3xl w-full font-bold">Experience</div>
		</div>
		<div class="time-line-container mb-10">
			<TimeLineElement title="Full Stack Developer" subtitle="From November 2021 to June 2023 at Modus Agency, Remote">
				<a target="_blank" href="https://www.modusagency.com">https://www.modusagency.com</a>
			</TimeLineElement>
			<TimeLineElement title="Full Stack Developer" subtitle="From March 2021 to November 2021 at Devlights, Remote">
				<a target="_blank" href="https://devlights.com/">https://devlights.com</a>
			</TimeLineElement>
			<TimeLineElement title="AWS Developer" subtitle="From December 2020 to March 2021 at CLEAR TECH, Remote">
				<a target="_blank" href="https://clear-tech.com">https://clear-tech.com</a>
			</TimeLineElement>
			<TimeLineElement
				title="Full Stack Developer"
				subtitle="From October 2018 to December 2020 at SOUTHWORKS, Buenos Aires, Argentina"
			>
				<a target="_blank" href="https://www.southworks.com">https://www.southworks.com</a>
			</TimeLineElement>
		</div>
	</section>

	<section>
		<div class="mb-5">
			<div class="text-3xl w-full font-bold">Certifications</div>
		</div>
		<ul class="list-disc mx-6 mb-10 grid gap-2">
			<li>
				<a
					href="https://www.freecodecamp.org/certification/fcc5d67b6a7-3c54-4347-a692-16f5cf9348ac/responsive-web-design"
					target="_blank"
				>
					Responsive Web Design by freeCodeCamp</a
				>
			</li>
			<li>
				<a href="https://www.credly.com/badges/08bb8c20-0c71-4ef8-935a-4b8cc97903cf" target="_blank">
					Enterprise Design Thinking Practitioner by IBM</a
				>
			</li>
		</ul>
	</section>

	<section>
		<div class="mb-5">
			<div class="text-3xl w-full font-bold">Skills</div>
		</div>
		<ul class="list-disc md:columns-5 columns-2 mx-6">
			<li>HTML</li>
			<li>CSS</li>
			<li>JavaScript</li>
			<li>React.js</li>
			<li>Next.js</li>
			<li>Tailwind</li>
			<li>Astro</li>
			<li>NodeJS</li>
			<li>NestJS</li>
			<li>Python</li>
			<li>SQL</li>
			<li>NoSQL</li>
			<li>AWS</li>
			<li>Azure</li>
			<li>FireBase</li>
			<li>Git</li>
			<li>VSCode</li>
			<li>Linux</li>
			<li>Office</li>
			<li>Docker</li>
		</ul>
	</section>
</BaseLayout>
